# Ignore the virtual environment folder
scchat/

# (Other ignores…)
__pycache__/
*.py[cod]
.venv/
env/
.env/
*.h5ad
*.pkl
/data/
/models/
*.csv
/temp.py
/testing.py
/scchatbot/paper_analysis.json
/scchatbot/all_questions_covid19.json
/scchatbot/auto_test_langgraph.py
/scchatbot/auto_test.py
/media/
/data_store/
/scchatbot/scvi_model/
/scchatbot/enrichment/
/scchatbot/deg_res
/qa_workflow_diagram.png
/README_diagram_generation.md
/simplified_workflow.mmd
/testing_no_rag.py
/scchatbot/copy1.py
/scchatbot/copy2.py
.claude
/scchatbot/chatbot_original_backup.py
/scchatbot/instruction.md
/removed_files_backup/
/scchatbot/glioblastoma_test_v2.json
/scchatbot/all_questions_glioblastoma.json
# Virtual environment
scchat2/

# Large data files
media/
umaps/
!umaps/annotated
!umaps/annotated/.gitkeep

# DBs
db.sqlite3

# Python cache
__pycache__/
*.py[cod]

# OS
.DS_Store



# Ignore big files inside annotated_adata but allow small docs
scchatbot/annotated_adata/*
!scchatbot/annotated_adata/*.md
!scchatbot/annotated_adata/*.txt
!scchatbot/annotated_adata/*.gitkeep

db.sqlite3
.DS_Store

CLAUDE.md