asgiref
Django
pytz
sqlparse
openai
django-ninja
python-dotenv
matplotlib
scanpy
pandas<2.0.0
google-generativeai
plotly
scikit-misc
langchain
langchain_community
scvi
scvi.model
gseapy
regex
nltk
igraph
leidenalg